h1 TableTime!

#app

    #start.page
        h2 Pick a table!
        table#choose
            each row in [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
                tr
                each val in row
                    td
                        a(href ='#')= val
        p
            a(href="#")#help How to play
            a(href="#")#showScores Hi scores

    #instructions.page
        h2 How to play
        p Click the correct answers to complete the 1-12x table for a speed ranking!
        p You have #[span.warning three lives].
        p
            a(href="#")#ok OK!

    #getReady.page
        h2 Get ready for the #[span#readyNumber 7] times table!
        p
            a(href="#")#go Go!

    #winner.page
        h2 #[span#quizNumber 7] times table complete!
        p You finished in #[span#roundTime 60] seconds!
        div#newHi It's a new high score!
            div The old high score was #[span#oldHi].
        div#currentHi Your high score for #[span#currentHiNumber] is #[span#currentHiScore].
        p Your rank is
            br
            | #[span#rank Animal!]
        p
            a(href="#").retry.scaleLink Play again

    #loser.page
        h2 Bad luck!
        p You're out of lives!
        p
            a(href="#").retry.scaleLink Try again

    #quiz.page
        #sum
            span#sumLeft 1
            span#sumX &#xd7;
            span#sumRight 12
            span#sumEq =
            span#sumQm ?
        #options
            a(href="#")#opt1 12
            a(href="#")#opt2 8
            a(href="#")#opt3 9
        #completed
            each _, val in Array(12)
                    span(data-completed= val+1)= val+1
        #lives
            each val in [1,2,3]
                    span(data-life= val).life X
    #hiScores.page
        h2 Hi Scores
        table#scoresTable
            each num in [1,2,3,4,5,6]
                tr
                    td.scoresTableNumber= num
                    td.scoresTableScore(data-score= num) ???
                    td.scoresTableNumber= num + 6
                    td.scoresTableScore(data-score= num + 6) ???
        a(href="#")#closeScores.scaleLink Let's play!